@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    background-image:   url(fundo.jpg);
}
H1{
    font-size: 22px;
    font-family: 'Lobster', cursiva;
    color:aliceblue;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

H2{
    font-size: 22px;
    font-family: 'Lobster', cursiva;
    color:aliceblue;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}